
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,200&family=Open+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,200&family=Open+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}

.logosiman img{
    width: 15%;
}

.logosiman {
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
}

.menu {
    width: 100%;
    background-color: #D94141;
    text-align: center;
    position: static;
}

.menu ul {
    list-style: none;
}

.menu ul li{
    display: inline-block;
     padding: 20px;
     transition: all .3s ease;

}

.menu ul li:hover{
    transform: scale(1.2);
    background-color: #C70039;
}

.menu ul li a {
    color: #FFF5E0;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.encabezado-img {
    background-image: url(https://res.cloudinary.com/dm5tgfpr3/image/upload/v1700534396/mutcxntsoduse3jp0udz.jpg);
    height: 470px;
    background-size: cover;
    background-position: center center center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF5E0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.credisiman{
    background-image: url(https://res.cloudinary.com/dm5tgfpr3/image/upload/v1700534396/i7dwvlpkm7chr0lcqitg.png);
    height: 125px;
    background-repeat: no-repeat;
    background-position: center;

}

.carruseltecnologia{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.elemento img{
    width: 500%;
    border-radius: 10%;
}

.elemento{
    flex: 1 0 auto;
    margin: 0 50px;
    width: 100px;
    height: 500px;
    padding-right: 25%;
    padding-bottom: 3%;
    
}

.simancintanegra {
    background-color: black;
    display: flex;
    justify-content: center;

}

.simancintanegra {
    background-color: black;
    display: flex;
    justify-content: center;

}

.deporte{
    display: flex;
    justify-content: space-around;
  
}

.deporte img{
    width: 30%;   
}

