
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,200&family=Open+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,200&family=Open+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}

.logosiman img{
    width: 15%;
}

.logosiman {
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
}

.menu {
    width: 100%;
    background-color: #D94141;
    text-align: center;
    position: static;
}

.menu ul {
    list-style: none;
}

.menu ul li{
    display: inline-block;
     padding: 20px;
     transition: all .3s ease;

}

.menu ul li:hover{
    transform: scale(1.2);
    background-color: #C70039;
}

.menu ul li a {
    color: #FFF5E0;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.encabezado-img {
    background-image: url(https://res.cloudinary.com/dm5tgfpr3/image/upload/v1700534396/mutcxntsoduse3jp0udz.jpg);
    height: 470px;
    background-size: cover;
    background-position: center center center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF5E0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.credisiman{
    background-image: url(https://res.cloudinary.com/dm5tgfpr3/image/upload/v1700534396/i7dwvlpkm7chr0lcqitg.png);
    height: 125px;
    background-repeat: no-repeat;
    background-position: center;

}

.carruseltecnologia{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.elemento img{
    width: 500%;
    border-radius: 10%;
}

.elemento{
    flex: 1 0 auto;
    margin: 0 50px;
    width: 100px;
    height: 500px;
    padding-right: 25%;
    padding-bottom: 3%;
    
}

.simancintanegra {
    background-color: black;
    display: flex;
    justify-content: center;

}

.simancintanegra {
    background-color: black;
    display: flex;
    justify-content: center;

}

.deporte{
    display: flex;
    justify-content: space-around;
  
}

.deporte img{
    width: 30%;   
}

.formulario {
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 1.5em;
    background-color: #181818;
    color: azure;
}

.logo {
    text-align: center;
    font-size: 3em;
    
}

.logo span {
    color:  #D94141;
}

.contactcontenedor {
    margin-left: 5em;
    margin-bottom: 5em;
    box-shadow: 0 0 20px rgb(225, 225, 225, .3);

}

.contactcontenedor > * {
    padding: 2em;
}

.contacto {
    background-color: #222222;
 
}

.contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contacto form .bloque {
    grid-column: 1 / 3;

}

.contacto form button:hover,
.contacto  form button:focus{
    background-color:  white;
    color: #d63031;
    transition: background-color 1s ease-out;
    outline: none;
}

.info h4,
.info ul,
.info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.info ul{
    list-style: none;
    padding: 0;
}

.info ul li {
    padding: .3em;

}



.contacto form p{
    margin: 0;
    padding: 1em;

}

.contacto form button,
.contacto form input,
.contacto form textarea {

    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid #D94141;
    outline: none;
    color: #fff;

}

.contacto form button {
    background-color:  #D94141;
    border: none;
    text-transform: uppercase;
    padding: 1em;
}

.info {
    background-color: #000000;
}

/*medias query */

@media (min-width:700px) {
    .formulario {
        padding: 2rem 4rem 1rem;
    }

    .contactcontenedor {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

   
    
}

@media (max-width:425px) {
    .simancintanegra {
        width: 70%;
    }

    .elemento {
        width: 15%;
        height: 20%;
        margin-left: 100px;
    }

    

}

@media (max-width:320px) {
    .simancintanegra {
        width: 20%;
    }
}

@media (max-width:375px) {
    .simancintanegra {
        width: 50%;
    }
    

}

@media (max-width:768px) {
    .encabezado-img {
        width: 100%;
    }
  

    .elemento {
        width: 15%;
        height: 20%;
        margin-left: 250px;
    }

    

}